<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="images/slider/01.jpg" alt="EN57">
        </div>
        <div class="item">
            <img src="images/slider/02.jpg" alt="Gdynia">
        </div>
        <div class="item">
            <img src="images/slider/03.jpg" alt="Cerkiew w Smolniku">
        </div>
        <div class="item">
            <img src="images/slider/04.jpg" alt="Słupsk">
        </div>
        <div class="item">
            <img src="images/slider/05.jpg" alt="Plaża w Ustce">
        </div>
    </div>

    <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>