<%- partial("_slider") %>

<div class="row skills">
    <div class="col-md-4">
        <h6 class="icon"><span class="glyphicon glyphicon-camera"></span></h6>
        <h3>Zdjęcia z wysokości</h3>
        <p>Zajmujemy się profesjonalnie fotografią lotniczą. Naszą pasją od samego początku było latanie. Miniaturyzacja sprzętu do fotografii dała nam niezwykłą możliwość połączenia tych dwóch hobby w jedno.</p>
    </div>
    <div class="col-md-4">
        <h6 class="icon"><span class="glyphicon glyphicon-send"></span></h6>
        <h3>Ogromny zasięg</h3>
        <p>Jesteśmy w stanie dotrzeć w każde miejsce w dowolnym czasie. Nasi specjaliści wykonują zarówno loty nocne jak i w trudnych warunkach atmosferycznych. Nie wymagamy także utwardzonych powierzchni do startów i lądowań.</p>
    </div>
    <div class="col-md-4">
        <h6 class="icon"><span class="glyphicon glyphicon-leaf"></span></h6>
        <h3>Przyjaźni dla środowiska</h3>
        <p>Podczas naszych lotów nie wydzielamy praktycznie żadnych zanieczyszczeń, oraz żadnego hałasu. Dzięki temu jako jedyni mamy zgode na niskie przeloty w cenrach miast oraz nad parkami narodowymi.</p>
    </div>
</div>

<div class="row opinions">
    <div class="col-md-12">
        <blockquote>
            <p>Jestem mile zaskoczony profesjonalizmem firmy. Szybko i profesjonalnie sfotografowali wszystkie moje pola buraków.</p>
            <footer>Bogdan Pieprz - rolnik z Wąchocka</footer>
        </blockquote>

        <blockquote class="blockquote-reverse">
            <p>Zawsze zastanawiałem się, jak wygląda budowany przeze mnie bunkier z wysokości przelotowej bombowca B-52. Dzięki firmie &bdquo;Z Lotu Ptaka&rdquo; wiem, gdzie są moje słabe punkty!</p>
            <footer>Grzegorz Brzęczyszczykiewicz - paranoik z województwa podkarpackiego</footer>
        </blockquote>

        <blockquote>
            <p>Chciałem stworzyć mapę mojej posesji na podstawie zdjęć lotniczych. Powierzyłem ich wykonanie &bdquo;Z Lotu Ptaka&rdquo; i jestem w pełni zadowolony z ich pracy. Dotarcie nawet w najdalsze zakątki mojej posiadłości nie sprawiło im żadnych problemów. Polecam wszystkim usługi tej firmy.</p>
            <footer>Herman Głód - samozwańczy król Dolnego Śląska</footer>
        </blockquote>
    </div>
</div>