<div class="row">
    <div class="col-md-12">
        <div class="map"></div>
        <div class="page-header">
            <h2>Kontakt</h2>
        </div>
    </div>
</div>

<div class="row contact">
    <div class="col-md-6">
        <p>Zapraszamy do kontaktu z nami. Nasz obszar działania znajdą Państwo na mapie powyżej.</p>
        <p>Po prawej stronie znajdą Państwo formularz kontaktowy, za pomocą którego można w błyskawiczny sposób wysłać do nas wiadomość e-mail. Zobowiązujemy się do odpowiedzi w przeciągu dwóch dni roboczych.</p>

        <address>
            <strong>Z Lotu Ptaka</strong><br>
            ul. Ptasia 21<br>
            00-001 Warszawa<br><br>
            tel. 0 700 72 772<br>
            fax. 0 700 75 776<br><br>
            e-mail: <a href="mailto:robimy@zdjeciaZlotuPtaka.com">robimy@zdjeciaZlotuPtaka.com</a><br>
            <a href="http://www.zdjeciaZlotuPtaka.com">www.zdjeciaZlotuPtaka.com</a>
        </address>
    </div>
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label for="contact-name">Imię i nazwisko</label>
                <input type="text" class="form-control" id="contact-name" required="required" placeholder="Podaj swoje imię i nazwisko">
            </div>
            <div class="form-group">
                <label for="contact-email">E-mail</label>
                <input type="email" class="form-control" id="contact-email" required="required" placeholder="Podaj swój prawidłowy adres e-mail">
            </div>
            <div class="form-group">
                <label for="contact-topic">Temat wiadomości</label>
                <input type="text" class="form-control" id="contact-topic" required="required" placeholder="Podaj temat wiadomości">
            </div>
            <div class="form-group">
                <label for="contact-message">Treść wiadomości</label>
                <textarea class="form-control" id="contact-message" rows="5"  required="required" placeholder="Podaj treść swojej wiadomości"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Wyślij</button>
        </form>
    </div>
</div>

<script src="//maps.google.com/maps/api/js?sensor=false&amp;language=pl"></script>
<script src="js/gmap3.min.js"></script>
<script>
$('.map').gmap3({
    map: {
        options: {
            center: [52.268157, 19.313965],
            zoom: 6,
            mapTypeId: 'custom_style',
            mapTypeControlOptions: {
               mapTypeIds: ['custom_style', google.maps.MapTypeId.SATELLITE, google.maps.MapTypeId.HYBRID]
            },
            panControl: false,
            zoomControl: false,
            draggable: false,
            streetViewControl: false,
            maxZoom: 6,
            minZoom: 6
        }
    },
    styledmaptype: {
        id: 'custom_style',
        options: {
            name: 'Mapa'
        },
        styles: [{
            stylers: [{
                saturation: -100
            }]
        }, {
            featureType: 'poi.business',
            stylers: [{
                visibility: 'off'
            }]
        }]
    },
    circle: {
        values: [{
            options: {
                center: [52.168157, 19.313965],
                radius: 350000,
                fillColor : '#91de58',
                strokeColor : '#58a81d'
            }
        }]
    }
});
</script>