<%- partial("_slider") %>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Ekipa &bdquo;Z Lotu Ptaka&rdquo;</h2>
        </div>
    </div>
</div>

<div class="row team">
    <div class="col-md-offset-1 col-md-10">
        <div class="media">
            <div class="pull-left">
                <img class="media-object img-circle img-thumbnail" src="images/about/01.jpg" alt="Wiesław Sokół">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Wiesław Sokół</h3>
                <p>Duży, o krępej sylwetce, silnej budowie ciała z długimi, ostro zakończonymi skrzydłami i masywną głową. Wierzch stalowoszary z rozjaśnieniem na kuprze, wole kremowe, spód biały z nakrapianiem na piersi w kształcie łez, a poniżej ciemnym poprzecznym prążkowaniem.</p>

                <p>Na policzkach charakterystyczny czarny „wąs” kontrastującym z białym policzkiem. Jest bardziej wyrazisty w porównaniu z innymi. Szyja i ogon krótkie. Dziób krótki, silnie hakowato zagięty z charakterystycznym „zębem” w górnej części i odpowiadającym mu wcięciem w żuchwie. Nogi, woskówka, obramowanie oczu i nasady dzioba w intensywnie żółtym kolorze. Nozdrza wyraźnie widoczne na tle woskówki, okrągłe, z widocznym centralnym punktem. Oko bardzo ciemne, z prawie niewidoczną źrenicą.</p>

                <p>Specjalizuje się szczególnie w fotografii krajobrazowej. Rzadziej przyjmuje zlecenia w mieście. Jego pasja to sokolnictwo oraz gimnastyka.</p>
            </div>
        </div>

        <div class="media">
            <div class="pull-left">
                <img class="media-object img-circle img-thumbnail" src="images/about/02.jpg" alt="Tomasz Gołąb">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Tomasz Gołąb</h3>
                <p>Woskówka biała, dziób ciemnoszary. Tęczówki czerwone. Głowa, szyja, kark i gardło ciemnoszare; na całej szyi występuje fioletowa i zielona opalizacja. Grzbiet i większość pokryw skrzydłowych jasnoszara. Na końcu jasnoszarych lotek II rzędu oraz na pokrywach dużych II rzędu i pokrywach I rzędu biegnie czarny pas, co przy złożonym skrzydle daje efekt dwóch pasków na skrzydle. Lotki I rzędu ciemnoszare, stosiny. Kuper ciemnoszary, podobnie jak sterówki, na których końcu znajduje się czarny pasek. Brzuch ciemnoszary, skok nieopierzony; stopy czerwone.</p>

                <p>Zewnętrzna para sterówek posiada zewnętrzną chorągiewką białą, oddzieloną szaro od czarnego zakończenia pióra. Zewnętrzna para sterówek ma długość około 123 mm, zaś środkowa 134 mm. Występuje 10 lotek I rzędu i 13 II rzędu. Najbardziej zewnętrzna lotka I rzędu mierzy 183 mm, zaś kolejne (w kierunku do tułowia) od 193 mm do 118 mm. Lotki II rzędu mierzą od 119 do 76 mm. Długość dzioba wynosi 17-19 mm, skoku 29-32 mm. Masa ciała waha się między 238-302 g.</p>

                <p>Specjalizuje się szczególnie w fotografii miejskiej. Jego pasją jest rzut z wysokości do celu, a także surviwal.</p>
            </div>
        </div>

        <div class="media">
            <div class="pull-left">
                <img class="media-object img-circle img-thumbnail" src="images/about/03.jpg" alt="Zbigniew Sowa">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Zbigniew Sowa</h3>
                <p>Ogólnym ubarwieniem i kształtami, np. pomarańczowymi tęczówkami i sterczącymi „uszami na głowie”, podobny do puchacza, jednakże znacznie od niego mniejszy. Upierzenie rdzawobrązowe w ciemne plamki i kreski, spód ciała jaśniejszy, żółtawobrązowy, pióra na piersiach z podłużnymi kreskami (przypominającymi „kurze łapki”). Na ogonie i lotkach pierwszorzędowych ciemniejsze poprzeczne paski.</p>

                <p>Na głowie charakterystyczne „uszy” utworzone przez ruchome kępki piór, które w czasie lotu - lub gdy jest spokojny, są położone. Nie są w rzeczywistości związane ze słuchem, a stanowią ozdobę pomagającą się maskować. Właściwe uszy są ulokowane poniżej oczu ptaka i są dość duże, zbudowane na powierzchni ciała z fałdów skórnych, których układ może przypominać małżowinę uszną (nie jest widoczna z zewnątrz, bo przykrywają ja pióra). Oczy pomarańczowoczerwone, otoczone ciemnymi piórami, szlara pomarańczowobrązowa przechodząca w szarobeżową, wyraźnie odgraniczona. Dziób czarny, nogi opierzone.</p>

                <p>Jego specjalizacja to zdjęcia nocne, a pasja - deratyzacja.</p>
            </div>
        </div>
    </div>
</div>